@model RateSetter.ViewModels.UserAddressViewModel

@{
    ViewData["Title"] = "Registration";
}

<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Registration</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                <partial name="_StatusMessage" model="@ViewData["Message"]"/>
            </div>
            <form method="post" asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control item" asp-for="User.Name" type="text" id="name">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-control item" asp-for="Address.StreetAddress" type="text" id="address">
                </div>
                <div class="mb-3">
                    <label class="form-label">Suburb</label>
                    <input class="form-control item" asp-for="Address.Suburb" type="text" id="Suburb">
                </div>
                <div class="mb-3">
                    <label class="form-label">State</label>
                    <input class="form-control item" asp-for="Address.State" type="text" id="State">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Latitude</label>
                    <input class="form-control item" asp-for="Address.Latitude" type="text" id="Latitude">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Longitude</label>
                    <input class="form-control item" asp-for="Address.Longitude" type="text" id="Longitude">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control item" type="password" id="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Confirmation Password</label>
                    <input class="form-control item" type="password" id="confirmPassword">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control item" type="email" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Referral Code</label>
                    <input class="form-control item" asp-for="User.ReferralCode" type="text" id="referralCode">
                </div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
        </div>
    </section>
</main>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}